@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #000;
  color: #fff;
}
.p {
  text-align: center;
  font-size: 15em;
}
/* WRAPPER */
.wrapper {
  width: 100vw;
  height: 100vh;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: center;
  padding: 4em;
}

.menu {
  display: flex;
  width: 70%;
  justify-content: space-around;
  align-items: center;
}

.menu li {
  list-style: none;
}

.menu a {
  color: #ffffff;
  text-decoration: none;
  padding: 10px 20px;
}

.menu li a:hover {
  color: rgb(9, 255, 0);
}

.menu .active {
  color: #fcf5fb;
}

/* BRAND */
.brand {
  margin-top: -7px;
}

.brand span {
  color: rgb(9, 255, 0);
}

/* MAIN */
.main {
  margin: 0 auto;
  width: 80vw;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2em;
}
p {
  font-size: 1.2rem;
  line-height: 1.7;
}
h1 {
  font-size: 4em;
}

.info-content span {
  color: rgb(1, 252, 63);
}

.main img {
  border: 2px solid #fff;
  border-radius: 70vh;
  width: 350px;
  height: 520px;
  z-index: 1;
}

/* BUTTONS */
.download-cv {
  padding: 20px 30px;
  background-color: #fff;
  border: none;
  border-radius: 20px;
  margin-top: 50px;
  cursor: pointer;
  box-shadow: 1px 3px 11px -5px rgba(28, 241, 0, 0.966);
}

.download-cv:hover {
  background-color: rgb(9, 255, 1);
  box-shadow: none;
}

/* ABOUT */
.about {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: 100vw;
  align-items: center;
  background-color: white;
}

.about img {
  width: 100%;
  grid-column: 1 / 5;
}

.about-info {
  grid-column: 5 / 10;
  padding: 10em;
  color: #000;
}

.about-info h2 {
  font-size: 5em;
  color: #000000;
}

.divider {
  height: 5px;
  width: 400px;
  background-color: rgb(6, 253, 88);
  margin: 4px 0 2em 0;
}

/* PORTFOLIO */
.portfolio {
  width: 100vw;
  background-color: #000000c0;
  color: #fff;
  padding-bottom: 4em;
}

.portfolio-heading {
  padding: 5em 0;
  text-align: center;
}

.portfolio-heading h2 {
  font-size: 2.5em;
}

.portfolio .container {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 1.5em;
}

.card {
  width: 300px;
  background-color: #161616;
  border-radius: 10px;
  overflow: hidden;
}

.card__img {
  width: 100%;
  height: 150px;
  background-image: url("imh/UP-STYLE.jpg");
  background-size: cover;
}

.card__title {
  padding: 20px;
}

.card__proyect-links {
  display: flex;
  justify-content: space-evenly;
  padding: 1em 0;
}

.card__proyect-links a {
  color: #fff;
  font-size: 1.5em;
}

.button-content {
  display: flex;
  justify-content: center;
  margin: 1em 0;
}

/* CONTACT */
.contact-section {
  width: 100%;
  background-color: #ffffff;
  color: #000;
  padding: 5em;
  text-align: center;
}

.container-contact {
  display: flex;
  flex-direction: row-reverse; /* Invierte el orden visual */
  align-items: center;
  justify-content: center;
}

.contact-section img {
  width: 800px;
  height: 800px;

  object-fit: cover;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 30vw;
}

.form-group .input,
.form-group textarea {
  background: none;
  border: none;
  border-bottom: 1px solid #00ff15;
  margin-bottom: 1em;
  padding: 40px 80px;
  color: #020202;
}

/* FOOTER */
.footer {
  width: 100vw;
  height: 200px;
  background-color: rgb(0, 255, 76);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-content h2 {
  font-size: 3em;
}

.footer-content h5 {
  font-size: 1.9em;
  text-align: center;
}

.sotial-networks {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  margin-top: 1em;
}

.sotial-networks i {
  font-size: 1.5em;
}
.sotial-networks a {
  color: #fff;
  font-size: 2rem;
  margin: 0 10px;
  transition: 0.3s;
}

.sotial-networks a:hover {
  color: #ffffff;
  transform: scale(1.2);
}
